*{
    background-color: #1e272e;
}

.App{
    width: 1024px;
    margin: auto;
}

.title{
    color: #4bcffa;
    text-align: center;
    font-size: 25px;
}

.text-field{
    width: 90%;
    height: 150px;
    border: 1px solid #4bcffa;
    margin: auto;
    border-radius: 5px;
    padding: 5px 20px;
}

.text-field > textarea{
    color: #d2dae2;
    font-size: 20px;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    resize: none;
}

.keys  {
    height: 40px;
    width: 40px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    border-radius: 7px;
    display: inline-block;
    margin: 5px;
}

.keys:hover{
    box-shadow: 0 4px 8px 0 #4bcffa, 0 6px 20px 0 #4bcffa;
    cursor: pointer;
}

.keyboard{
    width: 90%;
    margin:auto;
    padding: 10px;
}

.first-half{
    float: left;
    width: 50%;
}

.second-half{
    float: right;
    width: 50%;
}

.additional-symbols{
    clear: both;
    margin-top: 30px;
}

.sub-title{
    margin: 20px;
    color: #4bcffa;
}

.link-text{
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.footer{
    clear: both;
    text-align: center;
    padding:10px;
    box-shadow: 0 0 8px 0 #4bcffa, 0 0 20px 0 #4bcffa;
    border-radius: 10px;
    color: white;
}

.footer:hover{
    box-shadow: 0 0 8px 0 #ff3f34, 0 0 20px 0 #ff3f34;
    /* cursor: pointer; */
}

.sized-box{
    clear: both;
    height: 30px;
}


@media screen and (max-width: 1024px){
    .App{
        width: 100%;
    }

    .first-half{
        float: none;
        margin: auto;
    }

    .second-half{
        float: none;
        margin: auto;
    }
    
}